{% extends "base.html" %}
{% block content %}
   
<div align="center">
    <h1>Hello, {{current_user.username}}!</h1>
</div>

<div class="form-container">
    <form method="POST" action="" enctype="multipart/form-data">
            {{form.hidden_tag()}}
        <div class="form-label">
            {{form.username.label}} 
        </div>
        <div class="form-input">
            {{form.username}}
        </div>
        <div class="form-label">
            {{form.email.label}} 
        </div>
        <div class="form-input">
            {{form.email}}
        </div>
        <div class="form-button">
            {{form.submit(class='btn btn-primary')}}
        </div>
    </form>
</div>
{% endblock %}