{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>{{ aquarium.name }}</h1>
  <h2>Owned by: {{aquarium.owner.username}}</h2>
  <h3>Created: {{ aquarium.date.strftime('%B %d, %Y') }}</h3>
  <p>{{aquarium.type}}</p>
  <p>{{aquarium.fish}}</p>
  <p>{{aquarium.plants}}</p>
   {% if aquarium.owner == current_user %}
     <div>
       <a class="btn btn-secondary" href="{{ url_for('aquariums.update', aquarium_id=aquarium.id) }}">Update</a>
       <br>
       <form action="{{ url_for('aquariums.delete_aquarium', aquarium_id=aquarium.id) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete">
      </form>
     </div>
   {% endif %}
</div>
{% endblock content %}