{% extends "base.html" %}
{% block content %}
<div class="form-container create-form">
  <h1>Share An Aquarium</h1>
  <form method="POST" enctype = multipart/form-data>
      {{form.hidden_tag()}}
    <div class="form-label">
          {{form.name.label}}
    </div>
      <div class="form-input">
          {{form.name}}
      </div>
    <div class="form-label">
        {{form.image.label}}
    </div>
    <div class="form-label"> 
      <input type="file" name="image"> (JPEG/PNG, GIF, PNG)
    </div>
    <div class="form-label">
      {{form.type.label}}
    </div>
    <div class="form-input">
      {{form.type}}
    </div>
    <div class="form-label">
      {{form.fish.label}}
    </div>
    <div class="form-input">
      {{form.fish}}
    </div>
    <div class="form-label">
      {{form.plants.label}}
    </div>
    <div class="form-input">
      {{form.plants}}
    </div>
    <div class="create-form-button form-button">
        {{form.submit(class="form-button btn btn-primary")}}
    </div>
  </form>
</div>
{% endblock %}