{% extends "base.html" %}
{% block content %}
    <div class="container">
      <form class="form-group" method="POST">
          {{form.hidden_tag()}}

          <div class="form-group">
              {{form.name.label(class="form-control-label")}}
              {{form.name(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{form.type.label(class="form-control-label")}}
            {{form.type(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{form.fish.label(class="form-control-label")}}
            {{form.fish(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{form.plants.label(class="form-control-label")}}
            {{form.plants(class="form-control form-control-lg")}}
          </div>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>
      </form>
    </div>
{% endblock %}