{% extends "base.html" %}
{% block content %}
    <div class="welcome">
        <img class='welcome_logo'src="{{url_for('static', filename='finatics.png')}}" alt="FINatics Logo">
        <div class="'wecome_text">
            <h1 class="sitename">FINatics:</h1>
            <h2>The premier app for sofishticated aquarists</h2>
            <button type="button" class="btn btn-primary"><a class="welcome_button_text" href="{{url_for('users.login')}}">Log In</a></button>
            <button type="button" class="welcome_button btn btn-primary"><a class="welcome_button_text" href="{{url_for('users.register')}}">Register</a></button>
        </div>
    </div>
{% endblock %}