{% extends "base.html" %}
{% block content %}
<div class="loginregister">
    <form method="POST">
        <h1>Register</h1>
        {{form.hidden_tag()}}
        <div class="loginregister_form-label">
            {{form.email.label}}
        </div>
        <div class="loginregister_form-input">
            {{form.email}}<br>
        </div>
        <div class="loginregister_form-label">
            {{form.username.label}}
        </div>
        <div class="loginregister_form-input">
            {{form.username}}<br>
        </div>
        <div class="loginregister_form-label">
            {{form.password.label}}
        </div>
        <div class="loginregister_form-input">
            {{form.password}}<br>
        </div>
        <div class="loginregister_form-label">
            {{form.pass_confirm.label}}
        </div>
        <div class="loginregister_form-input">
            {{form.pass_confirm}}<br>
        </div>
        <div class="loginregister_button">
        {{form.submit(class="loginregister_button btn btn-primary")}}
        </div>
    </form>
</div>
{% endblock %}