{% extends "base.html" %}
{% block content %}
<h2 class="profile-header">Welcome to {{aquarium.owner.username}}'s Aquariums!</h2>
<nav aria-label="page-navigation">
    <ul class="pagination justify-content-center">

        {% for page_num in aquariums.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if aquariums.page == page_num %}
            <li class="page-item disabled">
                <a class="page-link" href="{{url_for('users.user_aquariums', username=user.username, page=page_num)}}">{{ page_num }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{url_for('users.user_aquariums', username=user.username, page=page_num)}}">{{ page_num }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
<div class="profile">
    <div class="container">
        {% for aquarium in aquariums.items %}
            <div class="card bg-primary">
            <img class="card-img-top" src="{{url_for('static', filename=aquarium.image)}}" alt="Aquarium Image">
                <div class="card-body">
                    <h2>
                        <a class="card-title" href="{{url_for('aquariums.aquarium', aquarium_id=aquarium.id)}}">
                        {{aquarium.name}}
                        </a>
                    </h2>
                    <h3>                        
                    <a class="card-owner" href="{{url_for('users.user_aquariums', username=aquarium.owner.username)}}">
                    {{aquarium.owner.username}}'s Aquarium
                    </a>
                    </h3>
                    <p class="card-creation-date">
                    Created on: {{aquarium.date.strftime('%Y - %m - %d')}}
                    </p>
                    <a class="card-button btn btn-warning" href="{{url_for('aquariums.aquarium', aquarium_id=aquarium.id)}}">
                    See Aquarium
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}